.top {
    height: 20vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.center {
    height: 60vh;
    display: flex;
    justify-content: space-between;
}

.artificial-player-left {
    display: flex;
    width: 13vw;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.play-state {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.play-state-cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul.user-guide {
    font-size: 1.3em;
    font-family: sans-serif;
    list-style-type: none;
}

.active-suit {
    max-height: 1.5em;
}

.artificial-player-right {
    display: flex;
    width: 13vw;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
}

.artificial-player-top {
    display: flex;
}

.real-player {
    display: flex;
    max-height: 100%;
    max-width: 100%;
}

.bottom {
    height: 20vh;
    display: flex;
    flex-flow: column nowrap;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.card {
    max-height: 13em;
    min-width: 0;
    margin: 0.5em;

    border-radius: 5%;
    box-shadow: 0.1em 0.1em 0.5em gray;
}

.rotated {
    max-width: 13em;
    min-height: 0;
    max-height: auto;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;

    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.3);
}

.button {
    color: white;
    background-color: darkblue;
    font-family: sans-serif;
    padding: 1em 1.5em;
    display: none;
}

.close-btn {
    color: #4f4e4e;
}

.close-btn--win {
    color: #83BD75;
}

.close-btn--loss {
    color: #c46400;
}

.close-btn--finish {
    color: #e0ae49;
}

.close-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.modal__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;

    height: fit-content;
    width: fit-content;
    border: solid 2px #d7d7d7;
    padding: 0.4em 1em;
    box-shadow: 0.05em 0.05em 0.3em #8a8888;
    background-color: white;

    color: #4f4e4e;
    font-size: 1.5em;
}

.modal__content--win {
    background: #E9EFC0;
    border: solid 2px #83BD75;
    box-shadow: 0.05em 0.05em 0.3em #4e944f;

    color: #275127;
}

.modal__content--loss {
    background: #F0E3CA;
    border: solid 2px #c46400;
    box-shadow: 0.05em 0.05em 0.3em #a35709;

    color: #984d00;
}

.modal__content--finish {
    background: #fef9e7;
    border: solid 2px #c19c52;
    box-shadow: 0.05em 0.05em 0.3em #94762a;

    color: #826943;
}